@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: #000;
  color: white;
}

.card-title {
  font-size: 1rem;
}

.card-img-top {
  object-fit: cover;
  height: 100%;
}

.chart-container {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.custom-navbar {
  background-color: #1a1a1a;
}

.navbar-nav .nav-link {
  color: #cccccc;
}

.navbar-nav .nav-link:hover {
  color: #1DB954; /* Spotify Grün */
}

.spotify-color {
  color: #1DB954; /* Spotify Grün */
}

.btn-spotify {
  background-color: #1DB954;
  color: white;
  border: none;
}

.btn-spotify:hover {
  background-color: #1DB954;
  color: black;
}

.audio {
  min-width: 150px;
}

.frontpage-picture {
  max-width: 35%;
}